.header {
    text-align: center;
}
.example-full-width {
    width: 100%;
  }
.pop-up-add-excel{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 19vw;
    min-width: 19vw;
    padding: 0.5vw;
    background-color: rgb(245, 245, 245);
    padding-top: 0px;
}
.row-button{
    text-align: center;
    
  }
.row-button-detail{
    margin:20px;
}
.row-input{
    margin-top: 20px;
}