<brc-label [label]="labelExcel" class="header"></brc-label>

<div style="margin: auto; display: flex; justify-content: flex-end;">
    <button mat-raised-button color="primary" (click)="onClickBtnAdd()">
      <mat-icon>add</mat-icon>{{ configButtonAdd.btnAdd }}
    </button>
  </div>

<brc-table [columns]="notification_columns" [dataSource]="notification_dataSource"
[showRowSelection]="notification_showRowSelection" [showRowAction]="showRowAction" (rowClicked)="handleClickRow($event)"
(rowsSelected)="handleSelectRow($event)" (sort)="handlesort($event)">
</brc-table>